* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  font-family: FigTree, sans-serif !important;
  letter-spacing: normal !important;
  -webkit-font-smoothing: antialiased;
}
