/* Figma Styles of your File */
:root {
  /* Colors */
  // Primary
  --primary-main: #056341;
  --primary-accent: #3aa925;
  --primary-orange: #ee9f1e;
  --primary-red: #da291c;
  // Text
  --text-main: #393648;
  --text-accent: #016341;
  --text-white: #fffffa;
  --text-subtext1: #8c94a2;
  --text-subtext2: #525f7f;
  // Backgrounds
  --backgrounds-white: #fffffe;
  --backgrounds-gray0: #f6f9fd;
  --backgrounds-gray1: #ecf1f8;
  --backgrounds-gray2: #dfe5ed;
  --backgrounds-gray3: #eae9eb;
  --backgrounds-gray4: #9aa3b2;
  --backgrounds-gray5: #525f7f;
  --backgrounds-red: #fde6e6;
  --backgrounds-yellow: #fbf8e4;
  --backgrounds-green: #eef9f3;
  // Elementos
  --elementos-green-down: #309d77;
  --elementos-green-up: #00cc5f;
  --elementos-yellow-note: #ffd600;
  --elementos-yellow-voice: #f9f0be;
  --elementos-disponible: #f9f0be;
  // From BOI
  --from-BOI-bueno: #0c9f6e;
  --from-BOI-optimo: #e4cc34;
  --from-BOI-ideal: #e83f5a;
  --from-BOI-regalo: #3f57f1;
  --from-BOI-msi: #614ac9;
  // Buttons
  --buttons-able: #3aa925;
  --buttons-disable: #bac0c4;

  /* Fonts */
  /* Effects */
  --shadow-1-box-shadow: 0px 4px 12px 0px rgba(234, 233, 235, 1);
  --sac-1-box-shadow: 0px 4px 12px 0px rgba(30, 74, 227, 0.18);
}
